* {
  padding: 0;
  margin: 0;
}
/* 

.container {
  display: flex;
  background: rgb(117, 172, 177);
  justify-content: center;
  align-items: center;
  height: 400px;
}

.box {
  padding: 20px;
  margin: 0 30px;
  font-size: 14px;
  color: black;
  background-color: #2ecc71;
  border-radius: 10px;
  font-family: cursive;
  box-shadow: 2px 2px 20px 23px gray;
} */

.box1 {
  display: flex;
  height: 100px;
  width: 100px;
  background-color: greenyellow;
  justify-content: center;
  align-items: center;
  margin: 4px;
  border: 2px solid red;
}

.container-1 {
  display: flex;
  height: 100vh;
  background-color: aqua;
  justify-content: space-around;
  align-items: center;
}
.child {
  background-color: blueviolet;
  padding: 20px;
  display: flex;
}
